.add-review-form {
  display: grid;
  grid-template-columns: 32px repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  flex: 1;
  margin-top: 1vh;

  img {
    width: rem(32px);
    border-radius: 50%;
    margin-right: 1rem;
    grid-area: 1 / 1 / 2 / 2;
  }
  input {
    grid-area: 1 / 2 / 2 / 5;
    margin-left: 1rem;
    width: calc(100% - 16px);
    border: 0;
    border-bottom: 1px solid $clr4;
    padding: 10px;

    &:focus {
      border-bottom: 1px solid $clr5;
      outline: none;
    }
  }
  button {
    grid-area: 2 / 4 / 3 / 5;
    justify-self: end;
    margin: 0;
    border-radius: 4px;
    font-family: inherit;
    width: 50%;
    height: 3.5vh;
    padding: 0;

    &:hover {
      background-color: $clr3;
    }
  }

  div {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    margin: 0;
    justify-self: end;
    align-items: flex-end;
    height: 3vh;
  }
}
