.app-header {
  background-color: transparent;
  position: sticky;
  top: 0;
  z-index: 9999;
  flex: 1;

  .main-header {
    padding-left: 0;
    padding-right: 0;
    display: flex;
    margin: auto;
    align-items: center;
    flex: 1;
    height: rem(80px);
    transition: background-color 0.2s ease-in;

    .main-header-wrapper {
      flex: 1;
      justify-content: space-between;
      margin: auto;
    }
    .sticky {
      position: fixed;
      width: 100%;
      z-index: 9999;
    }
  }

  .site-logo {
    min-width: 121px;
    img {
      width: 7rem;
    }
  }

  .header-search {
    display: none;
    margin: 0;

    animation: fadeIn;
    animation-duration: 0.3s;

    form {
      .header-search-input {
        width: 130%;
        min-width: 100px;
        padding: 0 10px;
        outline: $clr4;
        border-radius: 5px 0 0 5px;
        border: 1px $clr4 solid;
        margin: 0;
      }
      .header-search-input:hover {
        outline: none;
      }
      .header-search-input:focus {
        border: 1px $clr5 solid;
        outline: none;
      }
      .btn {
        width: 50px;
        background-color: #222325;
        border-radius: 0 5px 5px 0;
        span .search-svg {
          width: 90%;
          color: $clr1;
          fill: currentColor;
        }
        margin: 0;
      }
      .btn:hover {
        background-color: #404145;
      }
    }
  }

  .nav {
    font-weight: 500;
    .nav-list {
      li a {
        margin-right: 1rem;
        color: $clr1;
      }
      a:hover {
        color: $clr2;
      }
      .nav-join {
        color: $clr2;
        border: 1px $clr2 solid;
        border-radius: 5px;
        padding: 5px 15px;
        transition: all 0.2s ease-in;
        margin: 0;
      }
      .nav-join:hover {
        color: $clr1;
        background-color: $clr2;
      }
    }
  }
}

.header-white {
  background-color: white;
  border-bottom: 1px $clr4 solid;

  .nav .nav-list {
    li a {
      color: $clr5;
    }
  }
}

.header-search-shown {
  display: block !important;
}

.second-nav {
  background-color: transparent;
  padding: 5px;
  margin: auto;
  color: $clr4;
  visibility: hidden;
  height: rem(40px);

  animation: flipInX;
  // animation-duration: 1s;
  transition: all 0.2s;
}

.second-nav-shown {
  visibility: unset;
  background-color: $clr1;
  // width: 100%;
}
