.app-footer {
  margin: auto;
  padding: 0;
  flex: 1;
  flex-wrap: wrap;
  max-width: 1400px;

  .footer-wrapper {
    // width: 100%;
    position: relative;
    bottom: 0;
    color: $clr4;
    background-color: $clr1;
    border-top: 1px $clr4 solid;
    text-align: center;
    justify-content: space-between;
    padding: 24px 0;
    flex-wrap: wrap;
    flex: 1;

    .footer-left {
      align-items: center;
      flex-wrap: wrap;

      .footer-logo {
        width: rem(91px);
      }

      .footer-copyrights {
        text-align: center;
        margin: 0;
        margin-left: rem(24px);
        color: #b5b6ba;
      }
    }

    .footer-right {
      .footer-social {
        justify-content: flex-start;
        padding-bottom: 0;
        width: auto;

        li {
          margin-right: rem(24px);

          &.instagram-icon {
            margin-right: 0;
          }

          a .social-icon svg {
            color: #74767e;
            fill: currentColor;
          }
        }
      }
    }
  }
}
