.data-table {
  width: 100%;
  background-color: white;
  outline: 1px solid #e2e2e2;
  .table-header {
    text-transform: uppercase;
    font-size: rem(14px);
    font-weight: 600;
  }

  .data-select-container {
    justify-content: end;
    padding-inline-end: 20px;
    gap: 15px;
    .data-select {
      border: 1px solid $clr15;
    }
    .modal {
      position: relative;
    }
  }
}
