.user-info-wrapper {
  color: #62646a;
  cursor: default;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0;
  margin-bottom: 30px;
  width: 400px;

  .user-info {
    position: relative;
    background-color: #fff;
    border: 1px solid #dadbdd;
    padding: 30px;
    font-size: 14px;
    line-height: 130%;

    .user-online {
      position: absolute;
      right: 0;
      height: 20px;
      left: 0;

      .user-online-indicator.is-online {
        line-height: 130%;
        text-transform: capitalize;
        border: 1px solid #1dbf73;
        border-radius: 12px;
        color: #1dbf73;
        margin-bottom: 5px;
        padding: 0 6px;
        position: absolute;
        right: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;

        i {
          font-size: 24px;
          line-height: 18px;
          display: inline-block;
          margin-right: 4px;
        }
      }
    }

    .user-profile-info {
      div {
        .user-profile-image {
          display: flex;
          margin-bottom: 15px;
          justify-content: center;

          .profile-pic-edit {
            position: relative;
            cursor: pointer;
            width: 150px;
            height: 150px;
            font-size: 3em;

            .camera-icon-wrapper {
              position: absolute;
              opacity: 0;

              .camera-icon {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 50px;
                height: 50px;
                fill: white;

                svg {
                  float: left;
                  height: 100%;
                  width: 100%;
                }
              }
            }
            input {
              margin: 0;
              padding: 0;
              vertical-align: middle;
              display: none;
              visibility: hidden;
            }
            img {
              width: 100%;
              height: 100%;
              display: block;
              border-radius: 50%;
            }
          }
        }
      }

      .profile-username {
        .username-container {
          display: flex;
          flex-direction: row;
          justify-content: center;

          b {
            font-size: 20px;
            font-weight: 700;
            color: $clr6;
            text-align: center;
            display: block;
            padding-bottom: 10px;
          }
        }

        .change-name-wrapper {
          font-size: 14px;
          line-height: 140%;
          text-align: center;

          .pen-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;

            .change-username-btn {
              width: 12px;
              height: 12px;
              margin-left: 4px;
              display: inline-block;
              background: none;
              padding: 0;
              margin: 0;
              fill: #b5b6ba;

              &:hover {
                fill: #62646a;
              }
              svg {
                float: left;
                height: 100%;
                width: 100%;
              }
            }
          }
        }
      }
    }

    .user-profile-btn-wrapper {
      align-items: center;
      justify-content: center;
      margin-top: 20px;

      .preview-profile-btn {
        flex: 1;

        a {
          color: $clr5;
          display: inline-block;
          position: relative;
          border-radius: 4px;
          font-weight: 600;
          line-height: 100%;
          text-decoration: none;
          text-align: center;
          cursor: pointer;
          transition: 70ms cubic-bezier(0.75, 0, 0.25, 1);
          padding: 10px 0;
          font-size: 14px;
          background: none;
          border: 1px solid $clr5;
          flex: 1 1;

          &:hover {
            color: $clr1;
            background-color: $clr5;
          }
        }
      }
    }

    .user-stats-wrapper {
      .user-stats {
        padding-top: 20px;
        // border-top: 1px solid #dadbdd;
        margin-top: 24px;

        li {
          position: relative;
          margin-bottom: 16px;
          justify-content: space-between;

          span span {
            display: inline-block;
            background: none;
            border: none;
            padding: 0;
            margin: 0;
            margin-right: 12px;
            width: 13px;
            height: 13px;
            fill: #62646a;

            svg {
              float: left;
              height: 100%;
              width: 100%;
            }
          }
        }

        .user-location {
          border-top: 1px solid #dadbdd;
          padding-top: 20px;
        }

        .member-since {
          border-bottom: 1px solid #dadbdd;
          padding-bottom: 20px;
        }

        .monthley-revenue {
          margin-bottom: 0;
          padding: 5px 0;

          .revenue-status img {
            width: 13px;
            margin-right: 12px;
          }
        }
      }
    }
  }

  div.login-signup {
    height: 9vh;
    width: rem(210px);
    top: 22vh;
    left: 7.6%;
    background-color: #86a1944b;
    border-radius: 4px;
    position: absolute;
    .change-username-form {
      display: flex;
      flex-direction: column;
      gap: 5px;
      > * {
        width: 100%;
        text-align: center;
        font-family: inherit;
      }
      input {
        padding: 5px;
      }
      input:focus {
        outline: 0;
      }
      button {
        text-transform: uppercase;
        font-weight: 600;
        border-radius: 4px;
        width: rem(50px);
        align-self: center;
      }
      button:hover {
        background-color: $clr3;
      }
    }
  }
}
