.filter {
  display: flex;
  align-items: center;
  margin: 2vh 0;

  input {
    font-family: inherit;
    border-radius: 4px;
    height: 3vh;
    outline: none;
    border: 1px solid $clr4;
    padding: 10px;

    &::placeholder {
      font-family: inherit;
    }

    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .btn-reset-filter {
    font-family: inherit;
    font-weight: 600;
    border-radius: 4px;
    width: 60px;
    height: 3vh;
    background-color: transparent;
    border: 1px $clr2 solid;
    color: $clr2;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: $clr2;
      border: 1px $clr2 solid;
      color: $clr1;
    }
  }
}
