.get-inspired {
  padding: 48px 24px;
  background-color: #f5f5f5;

  .get-inspired-wrapper {
    margin: auto;
    position: relative;

    h2 {
      color: $clr6;
      font-size: 28px;
      line-height: 130%;
      padding-bottom: 20px;

      @media (min-width: 900px) {
        padding-right: 180px;
      }
    }

    .get-inspired-carousel {
      .slick-slider {
        position: relative;
        display: block;
        box-sizing: border-box;
        user-select: none;
        touch-action: pan-y;
        max-width: 1436px;
        margin: auto;

        .slick-list {
          position: relative;
          display: block;
          overflow: hidden;
          margin: 0;
          padding: 0;

          .slick-track {
            position: relative;
            top: 0;
            left: 0;
            display: block;
            margin-left: auto;
            margin-right: auto;
            min-width: 100%;

            .slick-slide {
              padding: 8px;

              @media (min-width: 600px) {
                .slick-slide {
                  padding: 0 9px;
                }
              }
              @media (min-width: 900px) {
                .slick-slide {
                  padding: 0 18px;
                }
              }

              .project-card {
                background-color: #fff;
                border-radius: 4px;
                box-shadow: 0 0.14px 2.29266px rgb(0 0 0 / 3%),
                  0 0.37px 4.42626px rgb(0 0 0 / 5%), 0 3px 7px rgb(0 0 0 / 9%);

                .slide-link {
                  .slide-pic img {
                    height: 237px;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 4px 4px 0 0;
                    transition: opacity 0.3s ease-in-out;
                    display: block;
                  }

                  .slide-profile {
                    padding: 16px 0 12px 16px;

                    .slide-profile-img img {
                      height: 40px;
                      width: 40px;
                      border-radius: 50%;
                      cursor: pointer;
                    }

                    .slide-title {
                      padding-left: 12px;
                      font-size: 16px;
                      line-height: 24px;
                      width: 100%;

                      b {
                        font-size: 16px;
                        line-height: 24px;
                        display: block;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        width: calc(100% - 12px);

                        a {
                          color: $clr6;
                        }
                      }
                      a {
                        color: $clr4;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .slick-arrow {
    background-color: #fff;
    background: $clr1;
    position: absolute;
    z-index: 10;
    top: 50%;
    width: 48px;
    height: 48px;
    margin-top: -24px;
    text-align: center;
    -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);
    border: 0;
    font-size: 16px;
    line-height: 100%;
    border-radius: 28px;

    &:hover {
      background: $clr1;
    }

    &::before {
      color: $clr2;
      display: flex;
      margin: auto;
      justify-content: center;
      padding-top: 10px;
    }

    &.slick-prev::before {
      content: url($carousel_left_arrow);
    }

    &.slick-next::before {
      content: url($carousel_right_arrow);
    }
  }

  .see-more-projects {
    color: #446ee7;
    display: block;
    padding-top: 16px;

    @media (min-width: 951px) {
      position: absolute;
      top: -1vh;
      right: 32px;
    }
  }
}
