.carousel-container {
    max-height: 500px;
    width: 800px;
    // border: 1px solid black;
    margin-bottom: 100px;

}

.carousel {
    & .thumb {
        border: none !important;
        opacity: 0.5;
    }
    & .selected {
        opacity: 1 !important;
    }
    & .thumbs-wrapper {
        margin: 0 !important;
    }
    & img {
        object-fit: contain;
        max-height: 427px;
        max-width: 712px;

    }
    & .carousel-btn {
        position: absolute;
        z-index: 2;
        top: calc(50% - 15px);
        width: 48px;
        height: 48px;
        cursor: pointer;
        border-radius: 28px;
        background-color: #fff;
        color: black;
        box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);
        
    
    }
}
