.carousel-container {
  margin-top: 20px;
  max-height: 500px;
  width: 100%;
  margin-bottom: 100px;
}

.gig-description {
  .gig-layout
    .carousel-container
    .gig-imgs-carousel
    .carousel-root
    .carousel-slider {
    display: flex;
  }
  .slider-wrapper {
    height: 42vh;
    border: 1px solid #80808014;
  }

  // .thumbs-wrapper
  // .thumb {
  //   border: none !important;
  //   opacity: 0.5;
  //   cursor: pointer;
  //   width: 80px;
  //   height: 54px;
  // }
  // & .selected {
  //   opacity: 1 !important;
  // }
  // & .thumbs-wrapper {
  //   margin: 0 !important;
  // }
  // .thumb img {
  //     object-fit: fill;
  // }
  .thumbs-wrapper {
    .thumbs {
      display: flex;
      align-items: center;
      margin: 0;
      .thumb {
        opacity: 0.5;
        display: flex;
        align-items: center;
        width: 100px !important;
        height: 60px !important;
        &.selected {
          opacity: 1;
          border: none;
        }
        &:hover {
          border: none;
          cursor: pointer;
        }
        .img {
          object-fit: fill;
        }
      }
    }
  }
  .slide {
    display: flex;
    justify-content: center;
    height: 42vh;
    transition: all 0.2s ease-in-out;

    &:hover {
      scale: 105%;
    }
  }
  .carousel-btn {
    background-color: #fff;
    background: $clr1;
    position: absolute;
    z-index: 10;
    top: 50%;
    width: 48px;
    height: 48px;
    margin-top: -24px;
    text-align: center;
    -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);
    border: 0;
    font-size: 16px;
    line-height: 100%;
    border-radius: 28px;

    svg {
      fill: $clr5;
    }
  }
}
