.hero-backgrounds {
  .hero-img {
    background-repeat: no-repeat;
    width: 100%;
    height: 92vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;

    .hero-andrea {
      display: flex;
      width: 100%;
      height: 80%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      justify-content: flex-end;
      position: absolute;
      background-color: #023a15;
      
      
      .seller-name {
        color: $clr1;
        align-self: flex-end;
        text-align: end;
        width: 100%;
        max-width: 1400px;
        margin: 0 auto;
        font-size: rem(18px);
      }
    }
    
    .hero-moon {
      display: flex;
      background-image: url('https://res.cloudinary.com/dalkffrhf/image/upload/v1663277844/Fiverr-Sprint-4/imgs/bg-hero/full/bg-hero-2-1792-x1_pipgqp.webp');
      width: 100%;
      height: 80%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      justify-content: flex-end;
      position: absolute;

      .seller-name {
        color: $clr1;
        align-self: flex-end;
        text-align: end;
        width: 100%;
        max-width: 1400px;
        margin: 0 auto;
        font-size: rem(18px);
      }
    }
    .hero-ritika {
      display: flex;
      background-image: url('https://res.cloudinary.com/dalkffrhf/image/upload/v1663277844/Fiverr-Sprint-4/imgs/bg-hero/full/bg-hero-3-1792-x1_shq1po.webp');
      width: 100%;
      height: 80%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      justify-content: flex-end;
      position: absolute;

      .seller-name {
        color: $clr1;
        align-self: flex-end;
        text-align: end;
        width: 100%;
        max-width: 1400px;
        margin: 0 auto;
        font-size: rem(18px);
      }
    }
    .hero-zach {
      display: flex;
      background-image: url('https://res.cloudinary.com/dalkffrhf/image/upload/v1663277844/Fiverr-Sprint-4/imgs/bg-hero/full/bg-hero-4-1792-x1_kyb9cb.webp');
      width: 100%;
      height: 80%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      justify-content: flex-end;
      position: absolute;

      .seller-name {
        color: $clr1;
        align-self: flex-end;
        text-align: end;
        width: 100%;
        max-width: 1400px;
        margin: 0 auto;
        font-size: rem(18px);
      }
    }
    .hero-gabrielle {
      display: flex;
      background-image: url('https://res.cloudinary.com/dalkffrhf/image/upload/v1663277844/Fiverr-Sprint-4/imgs/bg-hero/full/bg-hero-5-1792-x1_xwg19x.webp');
      width: 100%;
      height: 80%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      justify-content: flex-end;
      position: absolute;

      .seller-name {
        color: $clr1;
        align-self: flex-end;
        text-align: end;
        width: 100%;
        max-width: 1400px;
        margin: 0 auto;
        font-size: rem(18px);
      }
    }
  }
}


@media (min-width: 900px) {
  .hero-andrea {
    background-image: url('https://res.cloudinary.com/dalkffrhf/image/upload/v1663277844/Fiverr-Sprint-4/imgs/bg-hero/full/bg-hero-1-1792-x1_lkaabk.webp');
    // background-position: 100% 100%;
  }
}