.hero-backgrounds {
  .hero-img {
    background-repeat: no-repeat;
    width: 100%;
    height: 92vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;

    .hero-andrea {
      display: flex;
      width: 100%;
      height: 80%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      justify-content: flex-end;
      position: absolute;
      background-color: #023a15;
    }

    .hero-moon {
      background-color: #b64762;
      display: flex;
      width: 100%;
      height: 80%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      justify-content: flex-end;
      position: absolute;
    }
    .hero-ritika {
      background-color: #540e1f;
      display: flex;
      width: 100%;
      height: 80%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      justify-content: flex-end;
      position: absolute;
    }
    .hero-zach {
      background-color: #023a15;
      display: flex;
      width: 100%;
      height: 80%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      justify-content: flex-end;
      position: absolute;
    }
    .hero-gabrielle {
      background-color: #7d1a00;
      display: flex;
      width: 100%;
      height: 80%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      justify-content: flex-end;
      position: absolute;
    }
  }
}

@media (max-width: 900px) {
  .seller-name {
    display: none;
  }
}

@media (min-width: 900px) {
  .hero-andrea {
    background-image: url('https://res.cloudinary.com/dalkffrhf/image/upload/v1663277844/Fiverr-Sprint-4/imgs/bg-hero/full/bg-hero-1-1792-x1_lkaabk.webp');
    background-position: 100% 100%;
  }
  .hero-moon {
    background-image: url('https://res.cloudinary.com/dalkffrhf/image/upload/v1663277844/Fiverr-Sprint-4/imgs/bg-hero/full/bg-hero-2-1792-x1_pipgqp.webp');
    background-position: 100% 100%;
    .seller-name p::before {
      background: url(https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/five_stars.e5c37f5.svg)
        no-repeat;
      background-size: 77px;
      content: '';
      display: block;
      height: 17px;
    }
  }
  .hero-ritika {
    background-image: url('https://res.cloudinary.com/dalkffrhf/image/upload/v1663277844/Fiverr-Sprint-4/imgs/bg-hero/full/bg-hero-3-1792-x1_shq1po.webp');
    background-position: 100% 100%;
  }
  .hero-zach {
    background-image: url('https://res.cloudinary.com/dalkffrhf/image/upload/v1663277844/Fiverr-Sprint-4/imgs/bg-hero/full/bg-hero-4-1792-x1_kyb9cb.webp');
    background-position: 100% 100%;
  }
  .hero-gabrielle {
    background-image: url('https://res.cloudinary.com/dalkffrhf/image/upload/v1663277844/Fiverr-Sprint-4/imgs/bg-hero/full/bg-hero-5-1792-x1_xwg19x.webp');
    background-position: 100% 100%;
    .seller-name p::before {
      background: url(https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/five_stars.e5c37f5.svg)
        no-repeat;
      background-size: 77px;
      content: '';
      display: block;
      height: 17px;
    }
  }
  .seller-name {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 32px 32px 64px;
    padding-top: 0;
    padding-bottom: 0;
    display: grid;
    align-items: end;
    justify-items: end;

    p {
      padding-bottom: 1rem;
    }
  }
}
