.order-modal-wrapper {
  position: fixed;
  min-height: 400px;
  z-index: 99;
  background-color: $clr1;
  top: -1000px;
  left: 0;
  margin: 0 80px;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 2px;
  width: 90%;
  padding: 0 32px 32px;
  box-shadow: -1px 10px 17px -9px rgba(0,0,0,0.75);
  transition: all 0.4s ease-in-out;
  &.true {
    top: 120px;
  }
  .order-modal {
    align-items: flex-start;
    flex-wrap: wrap;

    .order-modal-header-wrapper {
      position: relative;
      width: 100%;

      .order-modal-header {
        padding: 40px 0;

        .order-header {
          width: 100%;
          .left h1 {
            font-size: 34px;
            line-height: 41px;
            margin-bottom: 5px;
            color: rgb(33, 33, 33);
            white-space: nowrap;
          }
          .right {
            align-items: center;
            color: rgba(0, 0, 0, 0.87);
            font-size: 14px;
            p {
              margin: 0 0 0 10px;
            }
          }
        }
      }
    }

    .order-modal-details {
      position: relative;
      width: 770px;
      border: 1px solid rgb(224, 224, 224);
      border-radius: 2px;
      * > a {
        color: $clr4;
      }
      .order-details-top {
        font-size: 10px;
        color: $clr4;
        padding: 15px;
        .left {
          small {
            color: $clr5;
            font-size: 10px;
          }
        }
        .right {
          a {
            color: $clr5;
          }
        }
      }
      .order-details-main {
        border-top: 1px solid rgb(224, 224, 224);
        padding: 20px 16px;
        flex-direction: row;

        .left {
          .img-wrapper {
            position: relative;
            border-radius: 4px;
            border: 1px solid rgb(224, 224, 224);
            height: 157px;
            margin-right: 15px;
            margin-bottom: 0px;
            opacity: 1;
            flex: 0 0 119px;

            a {
              justify-content: center;
              width: 100%;
              height: 100%;
              overflow: hidden;
            }
          }
          .gig-title-wrapper {
            flex-direction: column;
            opacity: 1;
            width: 345px;
            justify-content: space-between;
            .gig-title {
              flex-direction: column;

              a h3 {
                font-size: 16px;
                font-weight: 600;
                color: rgb(33, 33, 33);
                line-height: 20px;
              }
            }
          }
        }

        .right {
          margin-left: auto;
          align-items: flex-end;
          position: relative;
          flex-direction: column;
          justify-content: center;

          .price-wrapper {
            align-items: center;

            .price-details {
              flex-direction: column;
              align-items: flex-end;
              justify-content: center;

              .plan-price {
                margin: 0px;
                font-weight: 600;
                font-size: 20px;
                line-height: 28px;

                span {
                  font-weight: normal;
                }
              }
              .plan-fee {
                color: $clr4;
                font-size: 10px;
                margin-bottom: 4px;
                white-space: nowrap;
              }
            }
          }
        }
      }
      .order-details-bottom {
        border-top: 1px solid rgb(224, 224, 224);
        justify-content: space-between;
        padding: 15px;

        p {
          font-size: 10px;
          color: $clr4;
          margin: 0;
        }
      }
    }

    .order-modal-pricing {
      display: block;
      margin-left: auto;
      position: sticky;
      top: 20px;
      width: 370px;

      .email-wrapper {
        margin-bottom: 15px;
        input {
          width: 100%;
          height: 42px;
          padding: 0px 15px;
          border: 1px solid rgb(224, 224, 224);
          border-radius: 3px;
          font-size: 14px;
          line-height: 16px;
          outline: none;
          transition-property: border-color, box-shadow;
          transition-duration: 0.1s;

          &::placeholder {
            color: $clr4;
          }
          &:focus {
            border: 1px solid $clr5;
          }
        }
      }

      .delivery-time-wrapper {
        font-size: 13px;
        padding-bottom: 14px;
        border-bottom: 1px dashed rgb(219, 219, 219);
        span {
          color: $clr2;
          font-weight: 500;
        }
      }

      .total-price-wrapper {
        padding: 14px 0;
        align-items: baseline;
        .price-title {
          font-size: 14px;
          font-weight: 600;
        }
        .total-price {
          font-size: 20px;
          font-weight: 600;
          .dollar {
            font-weight: 400;
          }
        }
      }

      .btns-wrapper {
        border-bottom: 1px solid rgb(219, 219, 219);

        .btn-checkout {
          align-items: center;
          justify-content: center;
          border-radius: 3px;
          font-size: 14px;
          font-weight: 600;
          line-height: 20px;
          letter-spacing: normal;
          white-space: nowrap;
          cursor: pointer;
          height: 42px;
          width: auto;
          padding-left: 20px;
          padding-right: 20px;
          margin: 0;

          &:hover {
            background-color: $clr3;
          }
        }
        .btn-cancel {
          color: $clr4;
          background-color: transparent;
          align-items: center;
          padding: 15px 0;
          justify-content: center;
          margin: 0;
        }
      }

      .read-and-accept-wrapper {
        padding: 10px 0 24px;

        .read-and-accept {
          font-size: 12px;
          line-height: 16px;
          color: $clr5;

          a {
            color: rgb(47, 130, 251);
            text-decoration: none;
          }
        }
      }
    }
  }
}
