.small-modal {
  position: absolute;
  margin-top: 2px;
  margin-bottom: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: white;
  border: solid 1px #e2e2e2;
  z-index: 100;
  font-size: 12px;
  font-weight: 300;
  top: -2px;
  right: 10px;
  width: 100%;
  li {
    cursor: pointer;
    padding: 6px 10px;
  }
  li:hover {
    color: $clr2;
  }
}
.small-modal-open-modal-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: fit-content;
  font-size: 14px;
  font-weight: 300;
  padding: 0 0 0 rem(10px);
  border: 1px solid $clr14;
  color: $clr15;
  gap: 5px;
  &:hover {
    color: $clr2;
  }
}
