.table-subheader {
  border-top: solid 1px #e2e2e2;
  height: 34px;
  padding: 0 20px 0 20px;
  color: $clr12;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
}
.subheader {
  padding-inline-end: 15px;
}
.subheader-one {
  flex: 1;
}
.subheader-two {
  flex: 2;
}
.subheader-three {
  flex: 3;
}
.subheader-four {
  flex: 4;
}
.subheader-five {
  flex: 5;
}
.subheader-six {
  flex: 6;
}
.subheader-seven {
  flex: 7;
}
.subheader-eight {
  flex: 8;
}
.subheader-nine {
  flex: 9;
}
.subheader-ten {
  flex: 10;
}
.subheader-eleven {
  flex: 11;
}
.subheader-twelve {
  flex: 12;
}
