.table-details {
  border-top: solid 1px #e2e2e2;
  font-weight: 300;
  font-size: 10px;
  text-transform: uppercase;
  padding: 10px 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  justify-content: space-between;

  .user-details-container {
    flex-direction: column;
    width: 100px;
    height: 34px;
    align-items: flex-start;
    margin-left: 5px;
    h3 {
      font-size: 12px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin: 0;
      flex: 1;
    }
    p {
      width: 100px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0;
      flex: 1;
    }
  }

  .due-on {
    .p-due {
      display: none;
    }
    .p-date {
      margin: 0;
    }
  }
  @media (max-width: 400px) {
    .due-on {
      flex-direction: column;
      align-items: center;
      p {
        margin: 0;
      }
      .p-due {
        display: block;
      }
    }
    .backoffice-gig-price {
      display: none;
    }

    .subheader input {
      display: none;
    }
  }

  .subheader button {
    border-radius: 4px;

    &:hover {
      background-color: $clr3;
    }

    &.cancel-btn {
      background-color: transparent;
      border: 1px solid $clr5;
      color: $clr5;

      &:hover {
        background-color: $clr5;
        color: $clr1;
      }
    }
  }

  .backoffice-gig-status {
    &.status-pending {
      color: rgb(255, 63, 20);
    }
    &.status-in-progress {
      color: rgb(235, 157, 30);
    }
    &.status-ready {
      color: $clr2;
    }
  }
}

@media (min-width: 400px) {
  .table-details {
    font-size: 14px;
    padding: 10px 5px 10px;
    justify-content: space-around;
    height: 10vh;
    .user-details-container {
      width: 20px;
      height: 50px;
      h3 {
        width: 200px;
        font-size: 16px;
      }
      p {
        width: 200px;
      }
    }
    .due-on {
      width: 20px;
      height: 20px;
    }
    .backoffice-gig-price {
      width: 20px;
      height: 20px;
    }
    .backoffice-gig-status {
      width: 20px;
      height: 20px;
    }
    .backoffice-btns {
      width: 20px;
      height: 20px;
      align-self: flex-start;
      align-items: center;
      button {
        width: 80px;
      }
    }
  }
}
