.table-subheader {
  border-top: solid 1px #e2e2e2;
  color: $clr12;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  padding: 10px 5px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  background-color: pink;
  visibility: hidden;
  height: 1px;
  padding: 0;

  .subheader {
    flex: 1;

    .subheader-one {
      justify-content: space-between;
      margin: auto;


    }
  }
}

@media (min-width: 660px) {
  .table-subheader {
    visibility: visible;
    height: unset;
    padding: 10px 5px;
  }
}
