.trusted-by {
    margin-bottom: rem(96px);
    width: 100%;
    background-color: #fafafa;
    grid-area: 2 / 1 / 3 / 4;
    padding: 5px;

  .trusted-by-wrapper {
    color: $clr4;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100%;

    span {
      padding-bottom: 10px;
    }
    .trusted-by-list {
      gap: 3rem;
      margin-left: 3rem;
    }
  }
}
