
.trusted-by-wrapper {
    background-color: #FAFAFA;
    color: $clr4;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: rem(35px) rem(24px) rem(35px);

    span {
        padding-bottom: 10px;
    }
    .trusted-by-list {
        gap: 3rem;
        margin-left: 3rem;
    
    }
}