.user-msg {
  color: $clr5;
  padding: 10px;
  font-weight: 500;
  border-radius: 10px;
  position: fixed;
  top: 14vh;
  right: 0.5rem;
  background-color: $clr2;
  z-index: 999;
}

.user-msg.success {
  background-color: #ebf7ee;
  border: 2px #bde4c7 solid;
}
.user-msg.danger {
  background-color: #fcedea;
  border: 2px #f4c4ba solid;
}
