.max-width-container {
    width: 100%;
    padding: $padding_min $padding_min $padding_min_double;
    margin: 0;
    box-sizing: border-box;

    // @include media-query-grid(sm) {
    //     padding: $padding_max $padding_max $padding_max_double;
    //     margin: 0;
    // }

    // @include media-query-grid(lg) {
    //     max-width: $page_max_width;
    //     margin: 0 auto;
    // }

    // @include media-query-grid(xl) {
    //     padding-left: 0;
    //     padding-right: 0;
    // }

    // &.equal-padding {
    //     padding: $padding_min;

    //     @include media-query-grid(sm) {
    //         padding: $padding_max;
    //     }

    //     @include media-query-grid(xl) {
    //         padding-left: 0;
    //         padding-right: 0;
    //     }
    // }

    // &.fluid {
    //     @include media-query-grid(lg) {
    //         max-width: none;
    //     }

    //     @include media-query-grid(xl) {
    //         padding-left: $padding_max;
    //         padding-right: $padding_max;
    //     }
    // }
}