.mp-box .box-row {
  width: 988px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;

}

.mp-box mp-boring-sheet {
    -webkit-font-smoothing: antialiased;
    color: #62646a;
    border: 0;
    outline: 0;
    font-size: 100%;
    display: block;
    margin: 0 auto;
    position: relative;
    padding: 30px 0 100px;
    background-color: $clr4;
}

.mp-boring-sheet .box-row {
    background-color: #fff;
    padding: 30px 40px;
    border: 1px #ccc solid;
    border-radius: 5px;
}

.mp-boring-sheet .tos-title {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: 0 0;
  font-weight: 600;
  font-size: 34px;
  line-height: 36px;
  padding-bottom: 5px;
  color: #0e0e0f;
  text-transform: inherit !important;
}
