.edit {
  background-color: #f7f7f7;
  padding: 80px;
  & form {
    width: 100%;
  }

  & .form-input-group {
    position: relative;
    display: flex;
    padding-bottom: 32px;
  }

  & .edit-first-stage {
    background-color: $clr1;
    border: 1px solid #dadbdd;
    padding: 28px;
    border-radius: 5px 5px 0 0;
    & label {
      font-size: rem(16px);
      font-weight: 600;
      color: $clr6;
    }
    & .input-label {
      padding-right: 32px;
      width: rem(242px);
      font-size: rem(14px);
      line-height: rem(21px);
      color: #7a7d85;
      & .label-description {
        margin-top: rem(8px);
      }
    }

    & .input-wrapper {
      flex: 1;

      & .title-prefix {
        position: absolute;
        z-index: 10;
        pointer-events: none;
        transform: translate(7px, 7px);
        font-size: rem(18px);
        font-weight: 700;
      }
      & textarea {
        padding: 8px;
        text-indent: 48px;
        height: 84px;
        font-size: 18px;
        font-weight: 700;
        line-height: 25px;
        width: 100%;
        resize: none;
        outline: 0;
        border-radius: 4px;
      }
    }
  }

  & .gig-description {
    padding-top: rem(28px);
    padding-bottom: rem(70px);
    color: #62646a;

    & h3 {
      font-size: 1em;
      font-weight: 600;
      color: $clr6;
    }
    & p {
      font-size: rem(14px);
      line-height: rem(21px);
      color: #7a7d85;
    }

    & .description-editor {
      & textarea {
        width: 100%;
        height: rem(160px);
        resize: none;
        padding: 8px;
        font-size: 18px;
        font-weight: 700;
        line-height: 25px;
        outline: 0;
      }
    }
  }

  & .pricing {
    padding-top: rem(28px);
    & h3 {
      font-size: 1em;
      font-weight: 600;
      color: $clr6;
    }
    & .packages-pricing {
      & header {
        font-weight: 600;
        padding-top: 12px;
        padding-bottom: 16px;
        color: #62646a;
      }
    }
    & .packages-container {
      display: table;
      width: 100%;
      & table {
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse;
        border-spacing: 0;
      }

      & th {
        padding: 20px 16px;
        background-color: #f5f5f5;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 600;
      }

      & .first-table-col {
        box-sizing: border-box;
        width: 220px;
        background-color: #fafafa;
        position: relative;
        padding: 20px 15px;
        font-size: 13px;
      }

      & .block-container-input {
        height: 70px;
        width: 100%;
        border: none;
        resize: none;
        border-radius: 3px;
        box-sizing: border-box;
        padding: 7px;
      }

      & .block-description-input {
        height: 120px;
        width: 100%;

        border: none;
        resize: none;
        border-radius: 3px;
        box-sizing: border-box;
        padding: 7px;
      }

      & .block-price-cell {
        & input {
          border: none;
          box-sizing: border-box;
          width: 100%;
          padding: 8px 12px;
          padding-right: 40px;
          box-shadow: none;
          outline: 0;
          &:focus {
            border: none;
          }
        }
        & span {
          position: absolute;
          display: inline-block;
          transform: translateX(-20px);
        }
      }
      & .block-days-cell {
        & input {
          border: none;
          box-sizing: border-box;
          width: 90%;
          padding: 8px 12px;
          padding-right: 40px;
          box-shadow: none;
          outline: 0;
          &:focus {
            border: none;
          }
        }
        & span {
          position: absolute;
          display: inline-block;
          transform: translateX(-20px);
        }
      }

      & td,
      th {
        text-align: left;
        border: 1px solid #dadbdd;
      }
    }
  }

  & .upload-container {
    & h3 {
      font-size: 1em;
      font-weight: 600;
      color: $clr6;
    }
    & p {
      font-size: rem(14px);
      line-height: rem(21px);
      color: #7a7d85;
    }

    & .upload-input-container {
      margin: 10px;
      display: inline-block;
      padding: 7px;
      box-sizing: border-box;
      border: 1px solid black;
      width: 240px;
      height: 160px;
    }

    & label {
      position: relative;
      z-index: 10;
      left: 40%;
      top: 85%;
      color: #4a89ee;
      font-size: rem(14px);
      font-weight: 500;
      cursor: pointer;
    }

    & .thumbnail {
      position: absolute;
      z-index: 5;
      max-width: 100px;
      height: 100px;
      object-fit: fill;
    }
  }
}
