.explore {
  & .gig-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(245.75px, 1fr));
    grid-gap: 24px;
  }
  @media (max-width: 600px) {
    & .gig-list {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 32px;
    }
  }
  @media (min-width: 900px) {
    & .gig-list {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 32px;
    }
  }

  @media (min-width: 1160px) {
    & .gig-list {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  & .slick-next:before,
  .slick-prev:before {
    color: rgb(71, 71, 71);
    // right: 20px;    
  }

  & .slick-prev:before {
    background: transparent url(https://fiverr-res.cloudinary.com/npm-assets/@fiverr/search_perseus/apps/carousel-arrows.b9dde63.svg) no-repeat;
    content: "";
    display: block;
    width: 25px;
    height: 30px;
    cursor: pointer;
  }
  & .slick-next:before {
    background: transparent url(https://fiverr-res.cloudinary.com/npm-assets/@fiverr/search_perseus/apps/carousel-arrows.b9dde63.svg) no-repeat;
    content: "";
    display: block;
    width: 25px;
    height: 30px;
    left: 0;
    cursor: pointer;
    transform: scaleX(-1);
  }
  
  & .slider-img:hover {
    // transform: scale(105%);
    // transition: transform 0.3s;
    cursor: pointer;
  }
  & .slick-slider:hover {
    .slick-prev {
      // transform: translateX(25px);
      left: 0;
      display: block !important;

    }
    .slick-next {
      // transform: translateX(-25px);
      right: 5px;
      display: block !important;

    }
    // .simple-slider-btn {
    //  transform:scale(110%);
    // }
  }

  & .reviews-amount {
    color: grey;
    padding-left: 3px;
    font-size: 0.875em;
  }
  & .liked-by {
    flex: 1;
    justify-self: left;
  }
}
