.gig-details {

    height: 100%;
    display: flex;
    justify-content: center;
    
    & .gig-description {
        max-width: 800px;
    }
    
    & .plans {
        position: sticky;
        top: 0;
        height: 300px;
        width: 400px;
        padding-top: 135px;
    }

    & .continue-plans-btn {
        height: 40px;
        font-size: 1em;
        border-radius: 4px;
        font-weight: bold;
        &:hover{

            background-color: darken($color: $clr2, $amount: 7%);
        }
    }
}
