.main-gig-details {
  margin: auto;
  box-sizing: border-box;
  max-width: 1400px;
}

.gig-details {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 24px;

  & h1 {
    font-weight: bold;
    font-size: rem(28px);
  }
  & .about-this-gig {
    margin-top: rem(200px);
  }
  & .about-the-seller {
    margin-top: 30px;
  }

  & .gig-description {
    width: 100%;
    // margin-top: 35px;
    .gig-layout {
      max-width: 100%;

      .seller-overview {
        img {
          width: rem(32px);
          height: rem(32px);
        }
      }
    }
  }

  & .plans {
    position: sticky;
    top: 155px;
    height: 300px;
    width: 400px;
    margin-top: 35px;
    margin-left: 80px;
    .pricing {
      width: 100%;
    }
  }

  & .mobile-plans {
    .pricing {
      width: 100%;
    }
  }

  & .continue-plans-btn {
    margin: auto;
    height: 40px;
    width: 90%;
    font-size: 1em;
    border-radius: 4px;
    font-weight: bold;
    margin-bottom: 10px;
    &:hover {
      background-color: darken($color: $clr2, $amount: 7%);
    }
  }
  & .contact-plans-btn {
    background-color: transparent;
    color: $clr5;
    margin: auto;
    height: 40px;
    width: 90%;
    font-size: 1em;
    border-radius: 4px;
    font-weight: 600;
    margin-bottom: 10px;
    border: 1px $clr5 solid;
    text-align: center;
    padding-top: rem(5px);
    &:hover {
      background-color: $clr5;
      color: #fff;
    }
  }

  & .plans-action-btns {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    border-left: 1px solid #dbdcde;
    border-right: 1px solid #dbdcde;
    border-bottom: 1px solid #dbdcde;
  }
}

@media (min-width: 900px) {
  .gig-details {
    flex-direction: row;
    & .gig-description {
      width: 720px;
      margin-top: 35px;
      .gig-layout {
        max-width: 720px;
      }
    }
  }
}
