@font-face {
    font-family: WorkSansBlack;
    src: url(../../fonts/work-sans/WorkSans-Black.ttf);
}

@font-face {
    font-family: WorkSansBold;
    src: url(../../fonts/work-sans/WorkSans-Bold.ttf);
}

@font-face {
    font-family: WorkSans;
    src: url(../../fonts/work-sans/WorkSans-Medium.ttf);
}
