@font-face {
    font-family: WorkSansBlack;
    src: url(https://res.cloudinary.com/dalkffrhf/raw/upload/v1663188179/Fiverr-Sprint-4/fonts/work/WorkSans-Black_iyppk1.ttf);
}

@font-face {
    font-family: WorkSansBold;
    src: url(https://res.cloudinary.com/dalkffrhf/raw/upload/v1663188179/Fiverr-Sprint-4/fonts/work/WorkSans-Bold_wm6uyi.ttf);
}

@font-face {
    font-family: WorkSans;
    src: url(https://res.cloudinary.com/dalkffrhf/raw/upload/v1663188182/Fiverr-Sprint-4/fonts/work/WorkSans-Regular_ar5y5x.ttf);
}

@font-face {
    font-family: lobster;
    src: url(https://res.cloudinary.com/dalkffrhf/raw/upload/v1663282197/Fiverr-Sprint-4/fonts/lobster/Lobster-Regular_uxwhdg.ttf);
}
