// Colors
$clr1: #FFFFFF; // (white)
$clr2: #1DBF73; // (light green)
$clr3: #188652; // (dark green)
$clr4: #C5C6C9; // (light grey)
$clr5: #62646A; // (medium grey)
$clr6: #222325; // (dark grey)

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;