// Colors
$clr1: #ffffff; // (white)
$clr2: #1dbf73; // (light green)
$clr3: #188652; // (dark green)
$clr4: #c5c6c9; // (light grey)
$clr5: #62646a; // (medium grey)
$clr6: #404145; // (dark grey)
$clr7: #74767e;
$clr8: #b5b6ba; // heart not liked
$clr9: #f74040; // heart liked
$clr10: #ffbe5b; // stars

// Breakpoints
$mobile-breakpoint: 600px;
$narrow-breakpoint: 900px;
$normal-breakpoint: 1400px;

$grid_gutters: (
    xs: 6px,
    sm: 8px,
    md: 8px,
    lg: 16px,
    xl: 16px
);

$grid_layouts: 12, 15;
$grid_breakpoints: 'sm', 'md', 'lg', 'xl';

$page_max_width: 1400px;
$padding_min: 24px;
$padding_min_double: 48px;
$padding_max: 32px;
$padding_max_double: 64px;

$carousel_left_arrow: 'https://res.cloudinary.com/dalkffrhf/image/upload/v1663368594/Fiverr-Sprint-4/imgs/arrows/icons8-chevron-left-26_rucfc5.png';
$carousel_right_arrow: 'https://res.cloudinary.com/dalkffrhf/image/upload/v1663368594/Fiverr-Sprint-4/imgs/arrows/icons8-chevron-right-26_iee4op.png';